<h1 md-dialog-title class="form-title">{{ title }}</h1>
<div md-dialog-content>
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm.value)">
    <md-input-container class="input-block">
      <input mdInput placeholder="Item Name" name="itemName" id="itemName" formControlName="itemName">
      <md-error>This field is required</md-error>
    </md-input-container>
    <md-input-container class="input-block">
      <input mdInput type="number" placeholder="Price" name="itemPrice" id="itemPrice" formControlName="itemPrice">
      <md-error>This field is required</md-error>
    </md-input-container>
    <md-input-container class="input-block">
      <input mdInput placeholder="Category" name="itemType" id="itemType" formControlName="itemType">
      <md-error>This field is required</md-error>
    </md-input-container>
    <div md-dialog-actions>
      <div class="button-container">
        <button md-raised-button color="primary" type="submit" (click)="dialogRef.close('save')">Save</button>
        <button md-raised-button (click)="dialogRef.close('cancel')" color="warn" type="button">Back</button>
      </div>
    </div>
  </form>
</div>